body{
    font-family:'Arial',sans-serif;
    margin:0;
    padding:0;
    background-color: rgba(83, 83, 223, 0.651);
    color: rgba(8, 240, 240, 0.87);
    }
    header{
        background-color: rgba(24, 241, 241, 0.349);
color: rgba(127, 255, 212, 0.63);

    }
